*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans",sans-serif;
    box-sizing: border-box;
}

.contact-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
    align-content: center;
    object-fit: cover;
}

.contact-item {
    padding: 7px;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: row;
    justify-content:space-between;
    text-decoration: none;
}

.name{
    margin: 0;
    box-sizing: border-box;
    text-align: left;
}

.contact-profile{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact-message{
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.time-unread{
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.time-conected{
    font-size: 14px;
    color: #25d366;
}

.unread{
    width: 20px;
    text-align: center;
    color: #000;
    font-size: 12px;
    background-color: #25d366;
    padding: 3px;
    border-radius: 50%;
}
.link{
    text-decoration: none;
}